<head>

  <!-- <\!-- Our custom script library -\-> -->
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='johnny.js') }}"></script> -->

  <!-- Nice condensed font -->
  <link rel="preconnect"
        href="https://fonts.gstatic.com">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap">

  <style>

body {
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'PT Sans Narrow', sans-serif;
  /* font-size: 14px; */
}

  </style>

</head>
